*{
	font-family: "Yanone Kaffeesatz", Courier, monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

h1{
    text-decoration: none;
}

.burgerColor{
	color: rgb(255,255,255);
    background-color: #2f70bf;
	display: flex;
	justify-content: space-between;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 150px;

}

header{
    background-color: rgb(14, 201, 222);
	display: flex;
	justify-content: space-between;
	padding: 10px 10%;
}

.nav__links{
	list-style: none;
}

.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	color: honeydew;
}
.nav__links li a:hover{
	color: #2f70bf;
	cursor: pointer;
}
.img{
	transition: width 1s;
	position: absolute;
	top: 90px; right: 40px;
	width: 500px;
}
.img:hover{
	width: 525px
	
}